<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1><center><font color='blue'>SQL 笔记</font></center></h1>
<br>
<br>
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/kissclipart-azure-sql-db-clipart-microsoft-azure-sql-database-0b1fb9a5ba1f6e83.png?raw=true' width='250' align="center"><br>

# Querying Data From A Table


<br><b><font color='blue'>SELECT</font> c1, c2 * 2 <font color='blue'>AS</font> "2倍c2", 5 <font color='blue'>FROM</font> t<br>
<font color='blue'>WHERE</font> condition<br>
<font color='blue'>ORDER BY</font> cx <font color='purple'>DESC</font><br>
<font color='blue'>LIMIT</font> n;</b><br>
* 获取表 t 中的列 c1 , 2倍的列 c2 值, 常数 5 的数据 (如使用 <b><font color='blue'>*</font></b> 则为获取所有列)。<br>
* 可(选择性)使用关键字 <font color='blue'>AS</font> 为列设定别名。使用中文别名需用双引号 " " (不是单引号 ' )。<br>
* 可以在第一个列 c1 前使用 <font color='blue'>DISTINCT</font> 可以删除重复行。(<font color='blue'>DISTINCT</font> 关键字只能用在第一个列 c1 之前。不能在其他列之前)<br>
* 通过 <font color='blue'>WHERE</font> 子句来指定查询数据的条件。<font color='blue'>WHERE</font> 子句必须紧跟在 <font color='blue'>FROM</font> 子句之后。首先通过 <font color='blue'>WHERE</font> 子句查询出符合指定条件的记录，然后再选取出 <font color='blue'>SELECT</font> 语句指定的列。<br>
* 是否为 <font color='blue'>NULL</font> 要用 <font color='blue'>IS (NOT) NULL</font> 运算符。<br>
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/1.JPG?raw=true' width='150'><br>
* <font color='blue'>ORDER BY</font> 默认为 <font color='purple'>ASC</font> 升序。不论何种情况，<font color='blue'>ORDER BY</font> 子句都需要写在 <font color='blue'>SELECT</font> 语句的**末尾**(<font color='blue'>LIMIT</font>前)。<br>
* <font color='blue'>LIMIT</font> 仅显示头 n 行数据。

<b><font color='blue'>SELECT</font> c1, c2, 5, <font color='green'>aggregate</font><font color='blue'>(</font>c3<font color='blue'>)</font><br>
<font color='blue'>FROM</font> t<br>
<font color='blue'>WHERE</font> condition<br>
<font color='blue'>GROUP BY</font> c1, c2<br>
<font color='blue'>HAVING</font> condition<br>
<font color='blue'>ORDER BY</font> cx <font color='purple'>DESC</font>;</b><br>

* <font color='green'>aggregate</font><font color='blue'>(</font><font color='blue'>)</font> 聚合函数：
    * <font color='green'>COUNT</font>： 计算表中的记录数（行数）。<font color='green'>COUNT</font><font color='blue'>(</font>*<font color='blue'>)</font>会得到包含NULL的数据行数，而<font color='green'>COUNT</font><font color='blue'>(</font><列名><font color='blue'>)</font> 会得到NULL之外的数据行数。
    * <font color='green'>SUM</font>： 计算表中数值列中数据的总和值(只能数值型列)
    * <font color='green'>AVG</font>： 计算表中数值列中数据的平均值(只能数值型列)
    * <font color='green'>MAX</font>： 求出表中任意列中数据的最大值
    * <font color='green'>MIN</font>： 求出表中任意列中数据的最小值
    
    
* 不使用 <font color='blue'>GROUP BY</font> 子句时，是将表中的所有数据作为一组来对待的。而使用 <font color='blue'>GROUP BY</font> 子句时，会将表中的数据分为多个组进行处理。  


* 使用 <font color='blue'>GROUP BY</font>时，<font color='blue'>SELECT</font> 子句中只能存在以下三种元素。
    * 常数
    * 聚合函数
    * <font color='blue'>GROUP BY</font> 子句中指定的列名（也就是聚合键）
    
    
* 使用 聚合函数 和 <font color='blue'>GROUP BY</font> 常见错误:
    * 把聚合键之外的列名，写在 <font color='blue'>SELECT</font> 子句之中。即除了 <font color='blue'>GROUP BY</font> 中的 c1, c2 外，不能有其他列。
    * 在 <font color='blue'>GROUP BY</font> 子句中不能使用 <font color='blue'>SELECT</font> 子句中定义的别名。
    * <font color='blue'>GROUP BY</font> 子句结果的显示是无序的。
    * 只有 <font color='blue'>SELECT</font> 子句和 <font color='blue'>HAVING</font> 子句（以及 <font color='blue'>ORDER BY</font> 子句）中能够使用聚合函数。


* <font color='blue'>HAVE</font> 子句中能够使用的3种要素如下所示(和 <font color='blue'>WHERE</font> 不同，不能随意用列运算符)。
    * 常数
    * 聚合函数
    * <font color='blue'>GROUP BY</font>子句中指定的列名（即聚合键）

<font color='blue'>WHERE</font> 子句 = 指定行所对应的条件<br>
<font color='blue'>HAVE</font> 子句 = 指定组所对应的条件

### <font color='green'>子句书写顺序</font>
1. SELECT $\rightarrow$ 2. FROM $\rightarrow$ 3. WHERE $\rightarrow$ 4. GROUP BY $\rightarrow$ 5. HAVING $\rightarrow$ 6. ORDER BY

### <font color='red'>程序执行顺序</font>
1. FROM $\rightarrow$ 2. WHERE $\rightarrow$ 3. GROUP BY $\rightarrow$ 4. HAVING $\rightarrow$ 5. SELECT $\rightarrow$ 6. ORDER BY

### 子查询
子查询就是将用来定义视图的 <font color='blue'>SELECT</font> 语句直接用于 <font color='blue'>FROM</font>, <font color='blue'>WHERE</font> 子句当中。

<b><font color='blue'>SELECT</font> c1, c2, 5, <font color='green'>aggregate</font><font color='blue'>(</font>c3<font color='blue'>)</font><br>
<font color='blue'>FROM</font> (<font color='blue'>SELECT</font> cx, cy<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <font color='blue'>FROM</font> t1);</b><br>

<b><font color='blue'>SELECT</font> c1, c2, 5<br>
<font color='blue'>FROM</font> t<br>
<font color='blue'>WHERE</font> condition1 > 
(<font color='blue'>SELECT</font> <font color='green'>aggregate</font><font color='blue'>(</font>c3<font color='blue'>)</font><br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <font color='blue'>FROM</font> t1);</b><br>

<b><font color='blue'>SELECT</font> c1, c2,<br>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (<font color='blue'>SELECT</font> <font color='green'>aggregate</font><font color='blue'>(</font>c3<font color='blue'>)</font><br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<font color='blue'>FROM</font> t1) <font color='blue'>AS</font> 别名1<br>
<font color='blue'>FROM</font> t</b><br>

<b><font color='blue'>SELECT</font> c1, <font color='green'>aggregate</font><font color='blue'>(</font>c3<font color='blue'>)</font><br>
<font color='blue'>FROM</font> t<br>
<font color='blue'>GROUP BY</font> c1<br>
<font color='blue'>HAVING</font> <font color='green'>aggregate</font><font color='blue'>(</font>c3<font color='blue'>)</font> >
(<font color='blue'>SELECT</font> <font color='green'>aggregate</font><font color='blue'>(</font>c3<font color='blue'>)</font><br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <font color='blue'>FROM</font> t1) </b><br>

使用子查询的 SQL 会从子查询开始执行。

标量(单一值)子查询的书写位置并不仅仅局限于 <font color='blue'>WHERE</font> 子句中，通常任何可
以使用单一值的位置都可以使用。也就是说，能够使用常数或者列名的
地方，无论是 <font color='blue'>SELECT</font> , <font color='blue'>GROUP BY</font>, <font color='blue'>HAVING</font> 子句，还是
<font color='blue'>ORDER BY</font> 子句，几乎所有的地方都可以使用。(注意：使用标量子查询时，该子查询
绝对不能返回多行结果。)

<b>[关联子查询](https://zhuanlan.zhihu.com/p/41844742):</b>
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/2.JPG?raw=true' width='400'><br>
关联子查询和正常的SELECT语句完全不同。<br>
1. 先执行主查询<br>

<b><font color='blue'>SELECT</font> product_type , product_name, sale_price<br>
<font color='blue'>FROM</font> Product <font color='blue'>AS</font> P1</b><br>

2. 从主查询的 product_type 先取第一个值="衣服"，通过 WHERE P1.product_type = P2.product_type 传入子查询，子查询变成：<br>

<b><font color='blue'>SELECT</font> <font color='green'>AVG</font>(sale_price)<br>
<font color='blue'>FROM</font> Product <font color='blue'>AS</font> P2<br>
<font color='blue'>WHERE</font> P2.product_type = "衣服"<br>
<font color='blue'>GROUP BY</font> product_type);</b><br>

3. 从子查询得到的结果 AVG(sale_price)=2500，返回主查询：

<b><font color='blue'>SELECT</font> product_type , product_name, sale_price<br>
<font color='blue'>FROM</font> Product <font color='blue'>AS</font> P1<br>
<font color='blue'>WHERE</font> sale_price > 2500 <font color='blue'>AND</font> product_type = ‘衣服’</b><br>

4. 然后，product_type 取第二个值，得到整个语句的第二结果，依次类推，把 product_type 全取值一遍，就得到了整个语句的结果集。

注意：关联/结合条件一定要写在子查询中。

### 使用谓词
<font color='blue'>LIKE</font> - 模糊查询。同正则表达式一起使用，用正则符号来替换字符串。
* "<font color='green'>%</font>": 表示" 0 字符以上的任意字符串"的特殊符号。
    * 找出在列 c1 中以 ddd 结尾的所有行:
        * <b><font color='blue'>SELECT</font> *<br>
          <font color='blue'>FROM</font> t<br>
          <font color='blue'>WHERE</font> c1 <font color='blue'>LIKE</font> '<font color='green'>%</font>ddd';</b>
* "<font color='green'>_</font>"(下划线): 表示"任意1 个字符"。
    * 找出在列 c1 中以 abc+任意2个字符的所有行:
        * <b><font color='blue'>SELECT</font> *<br>
          <font color='blue'>FROM</font> t<br>
          <font color='blue'>WHERE</font> c1 <font color='blue'>LIKE</font> 'abc<font color='green'>__</font>';</b>

<font color='blue'>BETWEEN</font> - 范围查询(包含两个临界值)。如选取销售单价为100 ～ 1000元的商品<br>
* <b><font color='blue'>SELECT</font> product_name, sale_price<br>
  <font color='blue'>FROM</font> Product<br>
  <font color='blue'>WHERE</font> sale_price <font color='blue'>BETWEEN</font> 100 <font color='blue'>AND</font> 1000;</b>
  
<font color='blue'>IS NULL / IS NOT NULL</font> — 判断是否为 NULL (判断 NULL 不能用 = )。如选取出销售单价为 NULL 的商品<br>
* <b><font color='blue'>SELECT</font> product_name, sale_price<br>
  <font color='blue'>FROM</font> Product<br>
  <font color='blue'>WHERE</font> sale_price <font color='blue'>IS NULL</font>;</b>

<font color='blue'>IN / NOT IN</font> - 通过 IN 或者 NOT IN来指定 或者 排除 多个数值(v1, v2, ...)进行查询(使用 IN 和 NOT IN 是无法选取出 NULL 数据的。)<br>
* <b><font color='blue'>SELECT</font> c1, c2<br>
  <font color='blue'>FROM</font> t<br>
  <font color='blue'>WHERE</font> c1 <font color='blue'>IN</font> (v1, v2, v3,...);</b><br>

<font color='blue'>IN / NOT IN</font> - 子查询生成的表，能作为 IN 或者 NOT IN 的参数<br>
* <b><font color='blue'>SELECT</font> c1, c2<br>
  <font color='blue'>FROM</font> t<br>
  <font color='blue'>WHERE</font> c1 <font color='blue'>IN</font> (<font color='blue'>SELECT</font>...);</b>

### 集合运算

* <font color='blue'>UNION</font> 将输出表的内容合在一起
* <font color='blue'>INTERSECT</font> 选取表中公共部分
* <font color='blue'>EXCEPT</font> 从第一张生成表内，剔除和第二张生成表公共部分

语法：将以上关键词放在两个 <font color='blue'>SELECT</font> 子句(生成表)之间。

* <b><font color='blue'>SELECT</font> c1, c2<br>
  <font color='blue'>FROM</font> t1<br>
  <font color='blue'>UNION</font> / <font color='blue'>INTERSECT</font> / <font color='blue'>EXCEPT</font><br>
  <font color='blue'>SELECT</font> c1, c2<br>
  <font color='blue'>FROM</font> t2</b><br>

注意事项：
* 集合运算符会除去重复的记录。(使用 <font color='blue'>UNION ALL</font> 可包含重复行)
* 作为运算对象的记录的列数必须相同(不能一部分记录包含2列，另一部分记录包含3列)
* 作为运算对象的记录中列的类型必须一致
* 可以使用任何 <font color='blue'>SELECT</font> 语句，但 <font color='blue'>ORDER BY</font> 子句只能在最后使用一次

### 表联结 (<font color='blue'>JOIN</font>)
##### 内联结 (INNER JOIN)
通过不同表格中的相同列，根据这些相同列中**相同的** cell 进行联结，汇集成一张表格。<br>
* 进行联结时需要在 <font color='blue'>FROM</font> 子句中使用多张表。
* 进行内联结时必须使用 <font color='blue'>ON</font> 子句，并且要书写在 <font color='blue'>FROM</font> 和 <font color='blue'>WHERE</font> 之间。
* 使用联结时 <font color='blue'>SELECT</font> 子句中的列需要按照 "<表的别名>.<列名>" 的格式进行书写。
* 使用联结运算将满足相同规则的表联结起来时，<font color='blue'>WHERE</font>, <font color='blue'>GROUP BY</font>, <font color='blue'>HAVING</font>, <font color='blue'>ORDER BY</font> 等工具都可以正常使用。

如：从 Product 表中取出商品名称(product_name)和销售单价(sale_price)，并与 ShopProduct 表中的内容进行结合。且只想知道'000A'店的信息<br>
* <b><font color='blue'>SELECT</font> SP.shop_id, SP.shop_name, SP.product_id, P.product_name, P.sale_price<br>
  <font color='blue'>FROM</font> ShopProduct <font color='blue'>AS</font> SP <font color='blue'>INNER JOIN</font> Product <font color='blue'>AS</font> P<br>
  <font color='blue'>ON</font> SP.product_id = P.product_id<br>
  <font color='blue'>WHERE</font> SP.shop_id = '000A';</b>

##### 外联结 (OUTER JOIN / LEFT JOIN / RIGHT JOIN)
以主表为主体，通过不同表格中和主表指定的相同列，同主表指定列中**所有** cell 进行联结，汇集成一张表格。<br>
* 选取出主表中全部的信息
* 外联结中使用 <font color='blue'>LEFT</font>, <font color='blue'>RIGHT</font>来指定主表。使用 <font color='blue'>LEFT</font> 时 <font color='blue'>FROM</font> 子句中写在左侧的表是主表，使用 <font color='blue'>RIGHT</font> 时右侧的表是主表。

如：从 Product 表中取出商品名称(product_name)和销售单价(sale_price)，并与 ShopProduct 表中的内容进行外结合。且只想知道'000A'店的信息<br>
* <b><font color='blue'>SELECT</font> SP.shop_id, SP.shop_name, SP.product_id, P.product_name, P.sale_price<br>
  <font color='blue'>FROM</font> ShopProduct <font color='blue'>AS</font> SP <font color='blue'>LEFT JOIN</font> Product <font color='blue'>AS</font> P<br>
  <font color='blue'>ON</font> SP.product_id = P.product_id<br>
  <font color='blue'>WHERE</font> SP.shop_id = '000A';</b>

##### 对多表进行内联结
<b><font color='blue'>SELECT</font> SP.shop_id, SP.shop_name, SP.product_id, P.product_name, P.sale_price, IP.inventory_id<br>
<font color='blue'>FROM</font> ShopProduct <font color='blue'>AS</font> SP <font color='blue'>INNER JOIN</font> Product <font color='blue'>AS</font> P<br>
<font color='blue'>ON</font> SP.product_id = P.product_id<br>
&nbsp; &nbsp; &nbsp; &nbsp; <font color='blue'>INNER JOIN</font> InventoryProduct <font color='blue'>AS</font> IP<br>
&nbsp; &nbsp; &nbsp; &nbsp; <font color='blue'>ON</font> SP.product_id = IP.product_id<br>
<font color='blue'>WHERE</font> IP.inventory_id = 'P001';</b>

# Managing Data


##### 创建数据库:
<b><font color='blue'>CREATE DATABASE</font> D_name;</b><br>

##### 创建表:
<b><font color='blue'>CREATE TABLE</font> t_name (<br>
c1 <font color='blue'>INT</font> <font color='green'>PRIMARY KEY</font>,<br>
c2 <font color='blue'>VARCHAR</font> <font color='green'>NOT NULL</font>,<br>
c3 <font color='blue'>FLOAT</font> <font color='green'>DEFAULT 0</font><br>
);</b><br>

或者：<br>

<b><font color='blue'>CREATE TABLE</font> t_name (<br>
c1 <font color='blue'>INT</font> <font color='green'>NOT NULL</font>,<br>
c2 <font color='blue'>VARCHAR</font> <font color='green'>NOT NULL</font>,<br>
c3 <font color='blue'>FLOAT</font> <font color='green'>DEFAULT 0</font>,<br>
PRIMARY KEY (c1)<br>
);</b><br>

##### 删除整个表:
<b><font color='blue'>DROP TABLE</font> t_name;</b><br>

##### 删除表内数据，保留 Header:
<b><font color='blue'>TRUNCATE TABLE</font> t_name;</b><br>
或者删除指定数据行:<br>
<b><font color='blue'>DELETE FROM</font> t_name<br>
<font color='blue'>WHERE</font> condition</b><br> 
* <font color='blue'>DELETE </font>可以通过 <font color='blue'>WHERE</font> 子句指定对象条件来删除部分数据。
* <font color='blue'>TRUNCATE </font>只能删除表中的全部数据，而不能通过 <font color='blue'>WHERE</font> 子句指定条件来删除部分数据。

##### 更新表定义: (如果是表中数值，则用 <font color='blue'>UPDATE</font> )
添加列:<br>
<b><font color='blue'>ALTER TABLE</font> t_name <font color='blue'>ADD COLUMN</font> c1；</b><br>
删除列:<br>
<b><font color='blue'>ALTER TABLE</font> t_name <font color='blue'>DROP COLUMN</font> c1；</b><br>
更改列名:<br>
<b><font color='blue'>ALTER TABLE</font> t_name <font color='blue'>RENAME</font> c1 <font color='blue'>TO</font> c2；</b><br>

##### 变更表名:
* PostgreSQL/Oracle: <b><font color='blue'>ALTER TABLE</font> t1 <font color='blue'>RENAME TO</font> t2；</b><br>
* MySQL: <b><font color='blue'>RENAME TABLE</font> t1 <font color='blue'>TO</font> t2；</b><br>
* SQL_Server: <b><font color='blue'>SP_RENAME</font> 't1', 'Product'；</b><br>

# Modifying Data

##### 插入数据：
<b><font color='blue'>INSERT INTO</font> t_name (c1, c2, ...)<br>
<font color='blue'>VALUES</font> (v1, v2, ...),<br> 
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (x1, x2, ...),<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ...<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (z1, z2, ...);</b><br>
在表 t_name 中，对应列 c1, c2, ... 依次插入多行数据。插入一行只需保留(v1, v2, ...)，删除其他 VALUES。

* 在 <font color='blue'>VALUES</font> 子句中使用 <font color='blue'>DEFAULT</font> 指定该对应列使用默认值。
* 省略 <font color='blue'>INSERT</font> 语句中的列名，就会自动设定为该列的默认值(没有默认值时会设定为 <font color='blue'>NULL</font>)。

从其他表中复制数据:<br>
<b><font color='blue'>INSERT INTO</font> t1 (c1, c2, ...)<br>
<font color='blue'>SELECT</font> cx, <font color='green'>aggregate</font><font color='blue'>(</font>cy<font color='blue'>)</font>, ...<br> 
<font color='blue'>FROM</font> t2</b><br>

<font color='blue'>INSERT INTO</font>语句的 <font color='blue'>SELECT</font> 语句中，可以使用 <font color='blue'>WHERE</font> 子句或者 <font color='blue'>GROUP BY</font> 子句等任何SQL语法（ 但使用 <font color='blue'>ORDER BY</font> 子句并不会产生任何效果）。

##### 改变表中已有数值: (可使用指定条件 <font color='blue'>WHERE</font>，更新部分数据行)
<b><font color='blue'>UPDATE</font> t1<br>
<font color='blue'>SET</font> cx = 数值 或者 表达式 ,<br>
&nbsp; &nbsp; &nbsp; &nbsp; cy = 数值 或者 表达式<br>
<font color='blue'>WHERE</font> condition ;</b><br>

# Managing VIEWs


<br>视图保存的是 <font color='blue'>SELECT</font> 语句，但是视图不保存数据。从视图中读取数据时，视图会在内部执行该 <font color='blue'>SELECT</font> 语句并创建出一张临时表。应该将经常使用的 <font color='blue'>SELECT</font> 语句做成视图。

##### 创建视图：
<b><font color='blue'>CREATE VIEW</font> v (c1,c2)<br>
<font color='blue'>AS<br>
SELECT</font> 语句... ;</b><br>

定义视图时可以使用任何 <font color='blue'>SELECT</font> 语句，既可以使用 <font color='blue'>WHERE、GROUP BY、HAVING</font> (但不能使用 <font color='blue'>ORDER BY</font>)，也可以通过 <font color='blue'>SELECT *</font> 来指定全部列。<br>

应该避免在视图的基础上创建视图。

##### 使用视图：
视图和表一样，可以书写在 <font color='blue'>SELECT</font> 语句的 <font color='blue'>FROM</font> 子句之中。

<b><font color='blue'>SELECT</font> c1, c2, ...<br>
<font color='blue'>FROM</font> view_name, ... ;</b><br>

通过汇总(如 <font color='blue'>GROUP BY</font>)得到的视图无法进行更新(使用 <font color='blue'>INSERT，DELETE，UPDATE</font>)。

##### 删除视图:
<b><font color='blue'>DROP VIEW</font> v1, v2;</b> 
<br>来删除视图。

# 函数

### 算术函数（用来进行数值计算的函数）
* 绝对值: <font color='blue'>ABS(列名)</font><br><br>
* 余数: <font color='blue'>MOD(被除数,除数)</font> -- 被除数和除数都为列名。
    * [SQL Server] - 使用 "<font color='blue'>%</font>" 来计算余数)<br><br>
    
* 四舍五入: <font color='blue'>ROUND(对象数值,保留小数的位数)</font>

### 字符串函数（用来进行字符串操作的函数）
* 拼接: str1 <font color='blue'>||</font> str2 -- 实现 abc+de = abcde. 
    * [SQL Server] - 对字符串使用 "<font color='blue'>+</font>"
    * [MySQL] - 使用函数 <font color='blue'>CONCAT(str1, str2, str3...)</font><br><br>    
* 字符串长度: <font color='blue'>LENGTH(str) </font>
    * [SQL Server] - <font color='blue'>LEN(str)</font><br><br>
* 大 / 小写转换: <font color='blue'>UPPER(str)</font> / <font color='blue'>LOWER(str)</font><br><br>
* 字符串的替换: <font color='blue'>REPLACE(str1, str2, str3)</font> -- 将 str1 中含有的 str2 字符，转换成 str3。<br><br>
* 字符串的截取: 
    * [PostgreSQL / MySQL] - <font color='blue'>SUBSTRING(对象字符串 FROM 截取的起始位置 FOR 截取的字符数)</font>
    * [SQL Server] - <font color='blue'>SUBSTRING(对象字符串，截取的起始位置，截取的字符数)</font>
    * [Oracle 和 DB2] - <font color='blue'>SUBSTR(对象字符串，截取的起始位置，截取的字符数)</font><br><br>

### 日期函数（用来进行日期操作的函数）
* 当前日期: 
    * [MySQL, PostgreSQL] - <font color='blue'>CURRENT_DATE</font>
    * [SQL Server] - <font color='blue'>CURRENT_TIMESTAMP</font> 
        * 使用 <font color='blue'>CAST</font> 函数将 <font color='blue'>CURRENT_TIMESTAMP</font> 转换为时间类型
        * <font color='blue'>SELECT CAST</font>(<font color='blue'>CURRENT_TIMESTAMP AS TIME</font>) <font color='blue'>AS</font> CUR_TIME;
    * [Oracle] (需要在 <font color='blue'>FROM</font> 子句中指定临时表(<font color='blue'>DUAL</font>)) - <font color='blue'>SELECT CURRENT_DATE FROM DUAL</font>;
    * [DB2] - <font color='blue'>SELECT CURRENT DATE FROM SYSIBM.SYSDUMMY1</font>;<br><br>
* 当前时间:
    * [MySQL, PostgreSQL] - <font color='blue'>CURRENT_TIME</font>
    * [SQL Server] - <font color='blue'>CURRENT_TIMESTAMP </font>
        * 使用 <font color='blue'>CAST</font> 函数将 <font color='blue'>CURRENT_TIMESTAMP</font> 转换为日期类型
        * <font color='blue'>SELECT CAST</font>(<font color='blue'>CURRENT_TIMESTAMP AS</font> DATE) AS</font> CUR_DATE;
    * [Oracle] (需要在 <font color='blue'>FROM</font> 子句中指定临时表(<font color='blue'>DUAL</font>)) -<font color='blue'> SELECT CURRENT_TIMESTAMP FROM DUAL</font>;
    * [DB2] - <font color='blue'>SELECT CURRENT TIME FROM SYSIBM.SYSDUMMY1</font>;<br><br>
* 当前日期和时间: <font color='blue'>CURRENT_TIMESTAMP</font> (函数具有 CURRENT_DATE + CURRENT_TIME 的功能。使用该函数可以同时得到当前的日期和时间)
    * [SQL Server, PostgreSQL, MySQL] - <font color='blue'>SELECT CURRENT_TIMESTAMP</font>;
    * [Oracle] - <font color='blue'>SELECT CURRENT_TIMESTAMP FROM DUAL</font>;
    * [DB2] - <font color='blue'>SELECT CURRENT TIMESTAMP FROM SYSIBM.SYSDUMMY1</font>;<br><br>
* 截取日期元素: 
    * [PostgreSQL, MySQL] - <font color='blue'>EXTRACT(日期元素 FROM 日期)</font>
        * SELECT CURRENT_TIMESTAMP,<br>
          EXTRACT(YEAR FROM CURRENT_TIMESTAMP) AS year,<br>
          EXTRACT(MONTH FROM CURRENT_TIMESTAMP) AS month,<br>
          EXTRACT(DAY FROM CURRENT_TIMESTAMP) AS day,<br>
          EXTRACT(HOUR FROM CURRENT_TIMESTAMP) AS hour,<br>
          EXTRACT(MINUTE FROM CURRENT_TIMESTAMP) AS minute,<br>
          EXTRACT(SECOND FROM CURRENT_TIMESTAMP) AS second;
    * [SQL Server] - <font color='blue'>DATEPART(日期元素, 日期)</font>
        * SELECT CURRENT_TIMESTAMP,<br>
          DATEPART(YEAR , CURRENT_TIMESTAMP) AS year,<br>
          DATEPART(MONTH , CURRENT_TIMESTAMP) AS month,<br>
          DATEPART(DAY , CURRENT_TIMESTAMP) AS day,<br>
          DATEPART(HOUR , CURRENT_TIMESTAMP) AS hour,<br>
          DATEPART(MINUTE , CURRENT_TIMESTAMP) AS minute,<br>
          DATEPART(SECOND , CURRENT_TIMESTAMP) AS second;
    * [Oracle, DB2] - <font color='blue'>EXTRACT(日期元素 FROM 日期)</font>
        * SELECT CURRENT_TIMESTAMP,<br>
          EXTRACT(YEAR FROM CURRENT_TIMESTAMP) AS year,<br>
          EXTRACT(MONTH FROM CURRENT_TIMESTAMP) AS month,<br>
          EXTRACT(DAY FROM CURRENT_TIMESTAMP) AS day,<br>
          EXTRACT(HOUR FROM CURRENT_TIMESTAMP) AS hour,<br>
          EXTRACT(MINUTE FROM CURRENT_TIMESTAMP) AS minute,<br>
          EXTRACT(SECOND FROM CURRENT_TIMESTAMP) AS second<br>
          FROM DUAL; / FROM SYSIBM.SYSDUMMY1;

### 转换函数（用来转换数据类型和值的函数）
* 类型转换: <font color='blue'>CAST(转换前的值 AS 想要转换的数据类型)</font>
    * [SQL Server, MySQL, PostgreSQL] - 字符串转日期类型
        * SELECT CAST('2009-12-14' AS DATE) AS date_col;
    * [Oracle, DB2] - 字符串转日期类型
        * SELECT CAST('2009-12-14' AS DATE) AS date_col FROM DUAL; / FROM SYSIBM.SYSDUMMY1;

### 聚合函数（用来进行数据聚合的函数）
* 聚合函数基本上只包含 <font color='blue'>COUNT, SUM, AVG, MAX, MIN </font>这5种。

# SQL 高级处理

### 窗口函数 (OLAP - OnLine Analytical Processing)
OLAP 函数也称为窗口函数。为了实现对数据库数据进行实时分析处理，而添加的标准 SQL 功能。例如，市场分析、创建财务报表、创建计划等日常性商务工作。<br>
窗口函数就是将表以窗口为单位进行分割，并在其中进行排序的函数。<br>

<b> <font color='green'>窗口函数</font> <font color='blue'>OVER</font> (<font color='blue'>PARTITION BY</font> c1 <font color='blue'>ORDER BY</font> c2)</b><br>

<font color='blue'>PARTITION BY</font> 指定按照哪个列(对象)来进行排序, 在横向上对表进行分组。但不具备 <font color='blue'>GROUP BY</font> 的汇总功能。<br>
<font color='blue'>ORDER BY</font> 能够指定按照哪一列, 何种顺序进行排序, 决定了纵向排序的规则。

* 能够作为窗口函数的聚合函数（SUM、AVG、COUNT、MAX、MIN）
* <font color='blue'>RANK</font>(), <font color='blue'>DENSE_RANK</font>(), <font color='blue'>ROW_NUMBER</font>() 等专用窗口函数。由于专用窗口函数无需参数，因此通常括号中都是空的。
* 原则上窗口函数只能在 <font color='blue'>SELECT</font> 子句中使用。
* 使用窗口函数时，在 <font color='blue'>OVER</font> 子句中必须使用 <font color='blue'>ORDER BY</font>。<font color='blue'>OVER</font> 子句中的 <font color='blue'>ORDER BY</font> 只是用来决定窗口函数按照什么样的顺序进行计算的，对结果的排列顺序并没有影响。
* 让记录切实按照窗口函数产生的列排序，还是需要在 <font color='blue'>SELECT</font> 语句的最后，使用 <font color='blue'>ORDER BY</font> 子句进行指定。

##### 使用专用窗口函数
如根据不同的商品种类，按照销售单价从低到高的顺序创建排序表:<br>

<b><font color='blue'>SELECT</font> product_name, product_type, sale_price,<br>
<font color='blue'>RANK () OVER</font> (<font color='blue'>PARTITION BY</font> product_type<br>
<font color='blue'>ORDER BY</font> sale_price) <font color='blue'>AS</font> ranking<br>
<font color='blue'>FROM</font> Product<br>
<font color='blue'>ORDER BY</font> sale_price;</b><br>
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/8_1.JPG?raw=true' width='400'>

无需指定 <font color='blue'>PARTITION BY</font>。整个表作为一个大的窗口来使用。(与直接使用 <font color='blue'>ORDER BY</font> 类似)<br>
所以当希望先将表中的数据分为多个部分（窗口），再使用窗口函数时，可以使用 <font color='blue'>PARTITION BY</font> 选项。

* <font color='blue'>RANK</font>() :　计算排序时，如果存在相同位次的记录，则会跳过之后的位次。例）有3条记录排在第1位时：1位, 1位, 1位, 4位...
* <font color='blue'>DENSE_RANK</font>() : 即使存在相同位次的记录，也不会跳过之后的位次。例）有3条记录排在第1位时：1位, 1位, 1位, 2位...
* <font color='blue'>ROW_NUMBER</font>() : 赋予唯一的连续位次。例）有3条记录排在第1位时：1位, 2位, 3位, 4位...

<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/8_2.JPG?raw=true' width='400'><br>
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/8_3.JPG?raw=true' width='400'>

##### 使用聚合函数作为窗口函数
以“自身记录（当前记录）”作为基准进行统计，是将聚合函数当作窗口函数使用时的最大特征。<br>

如使用 <font color='blue'>SUM</font>函数: 该合计值的逻辑是逐行添加计算对象。在按照时间序列的顺序，计算各个时间的销售额总额等的时候，通常都会使用这种称为累计的统计方法。<br>
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/8_4.JPG?raw=true' width='400'><br>
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/8_5.JPG?raw=true' width='400'><br>
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/8_6.JPG?raw=true' width='400'><br>
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/8_7.JPG?raw=true' width='400'><br>

##### 窗口中的汇总范围(指定框架)
指定框架，需要在 <font color='blue'>ORDER BY</font> 子句之后使用指定范围的关键字 <font color='blue'>ROWS</font>（“行”），<font color='blue'>PRECEDING</font>（“之前”），<font color='blue'>FOLLOWING</font>（“之后”）。<br>
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/8_8.JPG?raw=true' width='400'><br>
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/8_9.JPG?raw=true' width='400'><br>
以上方法称移动平均（moving average）。由于这种方法在希望实时把握“最近状态”时非常方便，因此常常会应用在对股市趋势的实时跟踪当中。<br>

如需将当前记录的前后行作为汇总对象，如下同时使用<font color='blue'>PRECEDING</font>（“之前1行”），<font color='blue'>FOLLOWING</font>（“之后1行”）和本身进行计算。<br>
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/8_10.JPG?raw=true' width='400'><br>

### GROUPING
只使用 <font color='blue'>GROUP BY</font> 子句和聚合函数是无法同时得出合计行和小计的。<br>
使用 <font color='blue'>GROUPING </font> 运算符(包含<font color='blue'>ROLLUP</font>, <font color='blue'>CUBE</font>, <font color='blue'>GROUPING SETS</font>)可以同时得到。如下图：<br>
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/8_11.JPG?raw=true' width='200'><br>

##### ROLLUP 同时得出合计和小计
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/8_12.JPG?raw=true' width='400'><br>
在 MySQL 中执行以上代码，请将①中的 <font color='blue'>GROUP BY</font> 子句改写为 “GROUP BY product_type, regist_date WITH ROLLUP;”<br>
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/8_13.JPG?raw=true' width='400'><br>

##### GROUPING 函数判断 NULL
下面代码中，当 GROUPING 判断为 NULL，则插入“合计”或者“小计”等字符串，其他情况返回通常的列的值。<br>
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/8_14.JPG?raw=true' width='400'><br>
使用 <font color='blue'>CAST</font> 是为了满足 <font color='blue'>CASE</font> 表达式所有分支的返回值必须一致的条件。如果不这样的话，那么各个分支会分别返回日期类型和字符串类型的值，执行时就会发生语法错误。<br>

##### CUBE
所谓 <font color='blue'>CUBE</font>，就是将 <font color='blue'>GROUP BY</font> 子句中聚合键的“所有可能的组合”的汇总结果集中到一个结果中。如下图，多出来的记录就是只把 regist_date 作为聚合键所得到的汇总结果。<br>
<img src='https://github.com/yunjcai/Data-Science-Learning-Materials/blob/master/SQL/SQL%20%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B%E7%AC%94%E8%AE%B0/8_15.JPG?raw=true' width='400'><br>